<a href="https://colab.research.google.com/github/gmldud/Deliverate_Practice/blob/main/Lv3_%EC%A0%84%EC%B2%98%EB%A6%AC_4_4_%EC%9B%90_%ED%95%AB_%EC%9D%B8%EC%BD%94%EB%94%A9%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [‚Ü©Ô∏è Î¶¨Ïä§Ìä∏Î°ú ÎèåÏïÑÍ∞ÄÍ∏∞](https://dacon.io/competitions/open/235698/overview/description)

# ÏÖÄÏùÑ Ïã§ÌñâÌï† Îïå ÌåùÏóÖÏù¥ Îú®Î©¥ `Î¨¥ÏãúÌïòÍ≥† Í≥ÑÏÜçÌïòÍ∏∞` Î•º ÎàåÎü¨Ï£ºÏÑ∏Ïöî

In [68]:
# ÎèÑÏõÄ Î∞õÏùÑ ÏûêÎ£å https://www.analyticsvidhya.com/blog/2021/04/difference-between-fit-transform-fit_transform-methods-in-scikit-learn-with-python-code/

## Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú
---
ÏïÑÎûò ÏÖÄÏùÑ Ïã§ÌñâÏãúÏºú Îç∞Ïù¥ÌÑ∞Î•º colab Ïóê Î∂àÎü¨ÏòµÎãàÎã§.
ÏÖÄ Ïã§ÌñâÏùÄ Ctrl + Enter Î•º Ïù¥Ïö©Ìï¥ Ïã§ÌñâÏãúÌÇ¨ Ïàò ÏûàÏäµÎãàÎã§.

In [69]:
# Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú ÎßÅÌÅ¨Î°ú Îç∞Ïù¥ÌÑ∞Î•º ÏΩîÎû©Ïóê Î∂àÎü¨ÏòµÎãàÎã§.

!wget 'https://bit.ly/3i4n1QB'

import zipfile
with zipfile.ZipFile('3i4n1QB', 'r') as existing_zip:
    existing_zip.extractall('data')

--2022-08-11 06:31:58--  https://bit.ly/3i4n1QB
Resolving bit.ly (bit.ly)... 67.199.248.10, 67.199.248.11
Connecting to bit.ly (bit.ly)|67.199.248.10|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw [following]
--2022-08-11 06:31:58--  https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw
Resolving drive.google.com (drive.google.com)... 142.251.2.113, 142.251.2.102, 142.251.2.100, ...
Connecting to drive.google.com (drive.google.com)|142.251.2.113|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/rb683qvofc2h39n0fm3rau9kq18jmlag/1660199475000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download&uuid=a9422eb0-3ba1-44eb-8dcd-5bc8979d6f0a [following]
Warning: wildcards not supported in HTTP.
--2022-08-11 06:31:59--  https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/rb683qvofc2h39n0fm3rau9kq18jmlag/1660199475000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download&uuid=a9422eb0-3ba1-44eb-8dcd-5bc8979d6f0a
Resolving doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)... 142.250.141.132, 2607:f8b0:4023:c0b::84
Connecting to doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)|142.250.141.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 137694 (134K) [application/zip]
Saving to: ‚Äò3i4n1QB.6‚Äô

3i4n1QB.6           100%[===================>] 134.47K  --.-KB/s    in 0.002s

2022-08-11 06:31:59 (81.0 MB/s) - ‚Äò3i4n1QB.6‚Äô saved [137694/137694]

In [70]:
# ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞

import pandas as pd
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder

In [71]:
# read_csv() Îß§ÏÑúÎìúÎ°ú train.csv ÌååÏùºÏùÑ df class Î°ú Î∂àÎü¨Ïò§ÏÑ∏Ïöî.
train = pd.read_csv('data/train.csv')
train["type"].head()

0    white
1      red
2    white
3    white
4    white
Name: type, dtype: object

## üëã Ïã§Ïäµ
---

In [72]:
# "OneHotEncoder"Î•º "encoder"ÎùºÎäî Î≥ÄÏàòÏóê Ï†ÄÏû•Ìï¥Î≥¥ÏÑ∏Ïöî
encoder = OneHotEncoder()

In [73]:
# "encoder"Î•º ÏÇ¨Ïö©Ìï¥ trainÏùò "type" ÌîºÏ≥êÎ•º ÌïôÏäµÏãúÏºúÎ≥¥ÏÑ∏Ïöî
encoder.fit(train[["type"]]) #Ïù∏ÏΩîÎî© ÌïòÏó¨ type Ïó¥ Í≥ÑÏÇ∞

OneHotEncoder()

In [74]:
# "encoder"Î•º ÏÇ¨Ïö©Ìï¥ trainÏùò "type"ÌîºÏ≥êÎ•º Î≥ÄÌôòÌï¥ "onehot"Ïù¥ÎùºÎäî Î≥ÄÏàòÏóê Ï†ÄÏû•Ìï¥Î≥¥ÏÑ∏Ïöî.
onehot = encoder.transform(train[['type']]) # Í≥ÑÏÇ∞Ìïú Ïù∏ÏΩîÎî©Ïó¥ Î≥ÄÌôò Î∞è Ï†ÄÏû•
onehot

<5497x2 sparse matrix of type '<class 'numpy.float64'>'
	with 5497 stored elements in Compressed Sparse Row format>

In [75]:
# "onehot"Ïù¥ÎùºÎäî Î≥ÄÏàòÎ•º array ÌòïÌÉúÎ°ú Î≥ÄÌôòÌï¥ Î≥¥ÏÑ∏Ïöî
onehot = onehot.toarray() #arrayÎ°ú Ï∂úÎ†•Ìï¥Î≥¥Í∏∞ # arrayÎ°ú ÎÇòÏò¨ Ïàò ÏûàÎã§ == Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÏûÖÌûê Ïàò ÏûàÎã§.
onehot

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       ...,
       [0., 1.],
       [0., 1.],
       [0., 1.]])

In [76]:
# "onehot"Ïù¥ÎùºÎäî Î≥ÄÏàòÎ•º DataFrame ÌòïÌÉúÎ°ú Î≥ÄÌôòÌï¥ Î≥¥ÏÑ∏Ïöî
onehot = pd.DataFrame(onehot) #Î≥¥Í∏∞ Ìé∏ÌïòÍ≤å Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÏûÖÌûàÍ∏∞.
onehot.head()

     0    1
0  0.0  1.0
1  1.0  0.0
2  0.0  1.0
3  0.0  1.0
4  0.0  1.0

In [77]:
encoder.get_feature_names() #encoder = train Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤¥ ÏõêÌï´ Ïù∏ÏΩîÎî©, ÏõêÌï´Ïù∏ÏΩîÎî© Í≥ÑÏÇ∞Îêú Î™®Îì† Ïª¨Îüº Ïù¥Î¶Ñ

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

array(['x0_red', 'x0_white'], dtype=object)

In [78]:
onehot.columns #onehot = train['type'] ÏõêÌï´Ïù∏ÏΩîÎî© Ïª¨ÎüºÏù¥Î¶Ñ ÏòàÏãú 1: white yse, 2: white no

RangeIndex(start=0, stop=2, step=1)

In [79]:
# encoderÏùò "get_feature_names()"Î•º ÏÇ¨Ïö©Ìï¥ column Ïù¥Î¶ÑÏùÑ Î∞îÍøîÎ≥¥ÏÑ∏Ïöî
onehot.columns = encoder.get_feature_names() #Ï∞∏Í≥†Ïö© ÏûêÎ£å : https://www.inflearn.com/questions/29680
onehot.columns #Ïôú Íµ≥Ïù¥ Ïù¥Î¶ÑÏùÑ Î∞îÍæ∏ÎäîÏßÄ ÏùòÎ¨∏

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

Index(['x0_red', 'x0_white'], dtype='object')

In [80]:
# onehotÏùÑ ÏõêÎ≥∏Îç∞Ïù¥ÌÑ∞Ïù∏ trainÏóê Î≥ëÌï©ÏãúÏºúÎ≥¥ÏÑ∏Ïöî #Î≥ëÌï©
onehot = pd.concat([train, onehot], axis = 1)
onehot.head()

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type,x0_red,x0_white
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white,0.0,1.0
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red,1.0,0.0
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white,0.0,1.0
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white,0.0,1.0
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white,0.0,1.0

In [81]:
# trainÏùò "type" Î≥ÄÏàòÎ•º Ï†úÍ±∞Ìï¥Ï£ºÏÑ∏Ïöî #ÏõêÎûò Ïó¥ ÏÇ≠Ï†ú
train = train.drop(columns = ['type'])
train.head()

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9

## Ï†ïÎãµ
---

In [82]:
'''
# "OneHotEncoder"Î•º "encoder"ÎùºÎäî Î≥ÄÏàòÏóê Ï†ÄÏû•Ìï¥Î≥¥ÏÑ∏Ïöî

encoder = OneHotEncoder()

# "encoder"Î•º ÏÇ¨Ïö©Ìï¥ trainÏùò "type" ÌîºÏ≥êÎ•º ÌïôÏäµÏãúÏºúÎ≥¥ÏÑ∏Ïöî

encoder.fit(train[['type']])

# "encoder"Î•º ÏÇ¨Ïö©Ìï¥ trainÏùò "type"ÌîºÏ≥êÎ•º Î≥ÄÌôòÌï¥ "onehot"Ïù¥ÎùºÎäî Î≥ÄÏàòÏóê Ï†ÄÏû•Ìï¥Î≥¥ÏÑ∏Ïöî

onehot = encoder.transform(train[['type']])
onehot

# "onehot"Ïù¥ÎùºÎäî Î≥ÄÏàòÎ•º array ÌòïÌÉúÎ°ú Î≥ÄÌôòÌï¥ Î≥¥ÏÑ∏Ïöî

onehot = onehot.toarray()
onehot

# "onehot"Ïù¥ÎùºÎäî Î≥ÄÏàòÎ•º DataFrame ÌòïÌÉúÎ°ú Î≥ÄÌôòÌï¥ Î≥¥ÏÑ∏Ïöî

onehot = pd.DataFrame(onehot)
onehot.head()

# encoderÏùò "get_feature_names()"Î•º ÏÇ¨Ïö©Ìï¥ column Ïù¥Î¶ÑÏùÑ Î∞îÍøîÎ≥¥ÏÑ∏Ïöî
onehot.columns = encoder.get_feature_names()
onehot.head()

# onehotÏùÑ ÏõêÎ≥∏Îç∞Ïù¥ÌÑ∞Ïù∏ trainÏóê Î≥ëÌï©ÏãúÏºúÎ≥¥ÏÑ∏Ïöî

onehot = pd.concat([train, onehot], axis = 1)
onehot.head()

# trainÏùò "type" Î≥ÄÏàòÎ•º Ï†úÍ±∞Ìï¥Ï£ºÏÑ∏Ïöî
train = train.drop(columns = ['type'])
train.head()
'''
### ÏΩîÎìúÎ•º Îçî Îã®ÏàúÌôî ÏãúÏºúÎ≥ºÍ≤åÏöî!
'''
train = pd.read_csv('data/train.csv')
encoder = OneHotEncoder()
onehot = pd.DataFrame(encoder.fit_transform(train[['type']]).toarray(), columns = encoder.get_feature_names())
train = pd.concat([train,onehot], axis = 1).drop(columns = ['type'])
train.head()
'''

"\ntrain = pd.read_csv('data/train.csv')\nencoder = OneHotEncoder()\nonehot = pd.DataFrame(encoder.fit_transform(train[['type']]).toarray(), columns = encoder.get_feature_names())\ntrain = pd.concat([train,onehot], axis = 1).drop(columns = ['type'])\ntrain.head()\n"

# [‚Ü©Ô∏è Î¶¨Ïä§Ìä∏Î°ú ÎèåÏïÑÍ∞ÄÍ∏∞](https://dacon.io/competitions/open/235698/overview/description)