<a href="https://colab.research.google.com/github/gmldud/Deliverate_Practice/blob/main/sayi_10team_%ED%9D%AC%EC%98%81_4%EC%A3%BC%EC%B0%A8%EB%AF%B8%EC%85%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 👩🏻‍💻👩🏻‍💻👩🏻‍💻 답안 코드

### 🔥🔥🔥 Q1 정답 코드

In [ ]:
def make_comma(number):
  print(f"{number:,}")

In [ ]:
make_comma(20000000000)

20,000,000,000

### 🔥🔥🔥 Q2 정답 코드

In [ ]:
def count_word(sentences, word):
  word_counting = sentences.count(word)

  print(word_counting)

#----------------------------------------------

sentences ='''
어제보다 더 ‘좋은 문장을 쓰고 싶은’ 당신을 위한,
알아두면 쓸모 있는 교열 전문기자의 우리말 맞춤법 이야기

누구나 작가가 될 수 있는 시대, 하루 종일 무언가를 읽고 쓰는 시대, 지금이야말로 ‘좋은’ 문장이 필요한 때다. 이 책은 조금 더 나은 문장을 쓰고 싶은 당신에게 전하는 우리말 맞춤법 이야기이다. 이 책을 쓴 교열기자 이진원은 2010년부터 11년째 부산일보 교열부 데스크(교열팀장, 교열부장)를 맡고 있고, 2003년부터 맞춤법 칼럼 ‘바른말 광’을 매주 연재하고 있다. 이번 책에서는 그간 연재한 칼럼 870여 편 중에서도 ‘좋은 문장’을 쓰는 방법에 주목하여 원고를 선별해 엮었다. 교열기자 일을 하며 만났던 문장들을 예시로 들며 일상에서 틀리기 쉬운 맞춤법을 설명한다. 많은 사람은 생각한다. ‘‘한글 맞춤법’은 왜 이렇게 복잡하고 어려운 걸까?’ 이에 『좋은 문장을 쓰고 싶다면』의 저자는 ‘한국말은 어렵다’는 생각은 ‘잘 모르기 때문에’ 생기는 선입견이라고 답한다. 원리를 깨친다면 높게만 느껴지는 맞춤법의 벽도 이전에 비해 편하게 넘을 수 있다며, 올바른 글쓰기의 세계로 독자들을 인도한다.
'''

count_word(sentences,"한다")

4

###🔥🔥🔥 Q3 정답 코드

In [4]:
import re

guest_book = """김갑,123456789
이을,010-1234-5678
박병,010-5678-111
최정,111-1111-1111
정무,010-3333-3333"""

def wrong_guest_book(guest_book) :
  guest_book = re.split("\n", guest_book)
  for x in guest_book:
    if x[3:6] != "010" or x[3:].count("-") != 2 or len(x[3:]) != 13:
      n1 = "\n"
      print(f"잘못 쓴 사람 : {x[0:2]}{n1}잘못 쓴 번호 : {x[3:]}{n1}")


wrong_guest_book(guest_book)

잘못 쓴 사람 : 김갑
잘못 쓴 번호 : 123456789

잘못 쓴 사람 : 박병
잘못 쓴 번호 : 010-5678-111

잘못 쓴 사람 : 최정
잘못 쓴 번호 : 111-1111-1111

### 🔥🔥🔥 Q4 정답 코드

In [ ]:
# 주민등록번호는 6자리 이후에 -로 구분되어야 하고 길이는 -포함 14임
# 뒷자리는 1,3 은 남자 2,4는 여자
# 00 ~ 21로 시작할 경우 2000년 이후 출생자인지 물어 볼 것 (맞으면 o 틀리면 x)
# 뒷자리 3, 4를 가질 수 있는 사람은 00년생 이후 출생자 밖에 없음

###주민등록번호 조건을 만족하지 않는 수가 입력되면 "잘못된 번호입니다"를 출력해주세요.
#----------------------------------------------------------------------------------------------

# 주민번호가 string 타입인 것 주의
'''#여기서 if 문이 왜 돌아가는지 헷갈렸음 <- 이 문구 확인''' 

def check_id(id) :
  if id[6] == "-" and id[0:7].count("-") ==1 and len(id) == 14:                         
  # (주민번호 정상 여부 확인) 6번째에 "-"을 포함하고, "-"는 한번만 쓰였으며, 길이가 14자인 번호 

      n1 = "\n"

      if int(id[0:2]) >=22 and int(id[0:2]) <= 99:
        if id[7] == "1" :                                                                 
          print(f"{id[0:2]}년생 {id[2:4]}월 남자{n1}")
          # 00년생 이전 연생이면서 남자인 경우
        
        elif id[7] == "2" :   
          print(f"{id[0:2]}년생 {id[2:4]}월 여자{n1}") 
          # 00년생 이전 연생이면서 여자인 경우

        elif id[7] != "1" or id[7] != "2":    
          print(f"잘못된 번호입니다.{n1}올바른 번호를 넣어주세요.")
          # 00년생 이전 연생인데, 성별 구분이 틀린 경우(성별 구분이 1,2가 아닌 경우)

      if int(id[0:2]) >= 0 and int(id[0:2]) < 22:    
        # 00~21 범위 지정을 위해 int 로 변환      
        '''#여기서 if 문이 왜 돌아가는지 헷갈렸음'''
        # 00년생~21년생인 경우

        young = input("2000년 이후 출생자 입니까? 맞으면 o 아니면 x :")
        # input값 받기

        if young == "o" and id[7] == "3" :
          print(f"{id[0:2]}년생 {id[2:4]}월 남자{n1}")  
          # 00년생~21년생이면서, 질문에 맞게 대답하고, 성별 구분이 3인 경우

        elif young == "o" and id[7] == "4" :   
          print(f"{id[0:2]}년생 {id[2:4]}월 여자{n1}")
          # 00년생~21년생이면서, 질문에 맞게 대답하고, 성별 구분이 4인 경우

        elif young == "o" and id[7] != "3" or id[7] != "4":
          print(f"잘못된 번호입니다.{n1}올바른 번호를 넣어주세요.")   
          # 00년생~21년생이면서, 질문에 맞게 대답했지만, 성별 구분이 3,4가 아닌 경우 

        elif young == "x":
          print(f"잘못된 번호입니다.{n1}올바른 번호를 넣어주세요.")
          # 00년생~21년생이지만, 질문에 틀리게 대답한 경우

  else :
    print(f"잘못된 번호입니다.{n1}올바른 번호를 넣어주세요.")
    # 주민번호가 정상적으로 입력되지 않은 경우
    # 주민번호 정상 조건 : 6번째에 "-"을 포함하고, "-"는 한번만 쓰였으며, 길이가 14자인 번호

In [ ]:
'''
a = "500629-2222222"
check_id(a)
50년06월 여자

a = "000629-2222222"
check_id(a)
2000년 이후 출생자 입니까? 맞으면 o 아니면 x : o
잘못된 번호입니다.
올바른 번호를 넣어주세요

a = "000629-2222222"
check_id(a)
2000년 이후 출생자 입니까? 맞으면 o 아니면 x : x
00년06월 여자
'''

'\na = "500629-2222222"\ncheck_id(a)\n50년06월 여자\n\na = "000629-2222222"\ncheck_id(a)\n2000년 이후 출생자 입니까? 맞으면 o 아니면 x : o\n잘못된 번호입니다.\n올바른 번호를 넣어주세요\n\na = "000629-2222222"\ncheck_id(a)\n2000년 이후 출생자 입니까? 맞으면 o 아니면 x : x\n00년06월 여자\n'

In [ ]:
# 00~21년이 아니면서 성별구분으로 1,2를 쓴 경우
# 성별 구분 : 1
# 결과: 정상 출력
'''
# 00~21년생 성별 구분 [3 : 남자, 4 : 여자]
# 00년 이전 성별 구분 [1 : 남자, 2 : 여자]
'''

a = "500629-1222222"
check_id(a)

50년생 06월 남자

In [ ]:
# 00~21년이 아니면서 성별구분으로 1,2를 쓴 경우
# 성별 구분 : 2
# 결과: 정상 출력
'''
# 00~21년생 성별 구분 [3 : 남자, 4 : 여자]
# 00년 이전 성별 구분 [1 : 남자, 2 : 여자]
'''

a = "500629-2222222"
check_id(a)

50년생 06월 여자

In [ ]:
# 00~21년이 아닌데 성별구분으로 3,4를 쓴 경우
# 성별 구분 : 3
# 결과 : 잘못된 번호 메시지 출력
'''
# 00~21년생 성별 구분 [3 : 남자, 4 : 여자]
# 00년 이전 성별 구분 [1 : 남자, 2 : 여자]
'''

a = "500629-3222222"
check_id(a)

잘못된 번호입니다.
올바른 번호를 넣어주세요.

In [ ]:
# 00~21년이 아닌데 성별구분으로 3,4를 쓴 경우
# 성별 구분 : 4
# 결과 : 잘못된 번호 메시지 출력
'''
# 00~21년생 성별 구분 [3 : 남자, 4 : 여자]
# 00년 이전 성별 구분 [1 : 남자, 2 : 여자]
'''

a = "500629-4222222"
check_id(a)

잘못된 번호입니다.
올바른 번호를 넣어주세요.

In [ ]:
# 2000년 이후 출생자 입니까? 맞으면 o 아니면 x :o  <- o 로 대답
# 00~21년생이면서 성별구분으로 성별구분으로 3,4를 쓴 경우
# 결과: 정상 출력
'''
# 00~21년생 성별 구분 [3 : 남자, 4 : 여자]
# 00년 이전 성별 구분 [1 : 남자, 2 : 여자]
'''

a = "000629-3222222" 
check_id(a)

2000년 이후 출생자 입니까? 맞으면 o 아니면 x :o
00년생 06월 남자

In [ ]:
# 2000년 이후 출생자 입니까? 맞으면 o 아니면 x :o  <- o 로 대답
# 00~21년생이면서 성별구분으로 성별구분으로 3,4를 쓴 경우
# 결과: 정상 출력
'''
# 00~21년생 성별 구분 [3 : 남자, 4 : 여자]
# 00년 이전 성별 구분 [1 : 남자, 2 : 여자]
'''

a = "000629-4222222" 
check_id(a)

2000년 이후 출생자 입니까? 맞으면 o 아니면 x :o
00년생 06월 여자

In [ ]:
# 2000년 이후 출생자 입니까? 맞으면 o 아니면 x :x  <- x 로 대답
# 00~21년생이면서 성별구분으로 성별구분으로 3,4를 썼지만 질문에 잘못 대답한 경우
# 결과 : 잘못된 번호 메시지 출력
'''
# 00~21년생 성별 구분 [3 : 남자, 4 : 여자]
# 00년 이전 성별 구분 [1 : 남자, 2 : 여자]
'''

a = "000629-3222222" 
check_id(a)

2000년 이후 출생자 입니까? 맞으면 o 아니면 x :x
잘못된 번호입니다.
올바른 번호를 넣어주세요.

In [ ]:
# 2000년 이후 출생자 입니까? 맞으면 o 아니면 x :x  <- x 로 대답
# 00~21년생이면서 성별구분으로 성별구분으로 3,4를 썼지만 질문에 잘못 대답한 경우
# 결과 : 잘못된 번호 메시지 출력
'''
# 00~21년생 성별 구분 [3 : 남자, 4 : 여자]
# 00년 이전 성별 구분 [1 : 남자, 2 : 여자]
'''

a = "000629-4222222" 
check_id(a)

2000년 이후 출생자 입니까? 맞으면 o 아니면 x :x
잘못된 번호입니다.
올바른 번호를 넣어주세요.

In [ ]:
# 2000년 이후 출생자 입니까? 맞으면 o 아니면 x :o  <- o 로 대답
# 00~21년생이면서 성별구분으로 성별구분으로 1,2를 쓴 경우
# 성별 구분 : 1
# 결과 : 잘못된 번호 메시지 출력
'''
# 00~21년생 성별 구분 [3 : 남자, 4 : 여자]
# 00년 이전 성별 구분 [1 : 남자, 2 : 여자]
'''

a = "000629-1222222" 
check_id(a)

2000년 이후 출생자 입니까? 맞으면 o 아니면 x :o
잘못된 번호입니다.
올바른 번호를 넣어주세요.

In [ ]:
# 2000년 이후 출생자 입니까? 맞으면 o 아니면 x :o  <- o 로 대답
# 00~21년생이면서 성별구분으로 성별구분으로 1,2를 쓴 경우
# 성별 구분 : 2
# 결과 : 잘못된 번호 메시지 출력
'''
# 00~21년생 성별 구분 [3 : 남자, 4 : 여자]
# 00년 이전 성별 구분 [1 : 남자, 2 : 여자]
'''

a = "000629-2222222"
check_id(a)

2000년 이후 출생자 입니까? 맞으면 o 아니면 x :o
잘못된 번호입니다.
올바른 번호를 넣어주세요.

# 👩🏻‍💻👩🏻‍💻👩🏻‍💻 연습 코드

###📌Q1. 우리는 큰 수를 나타낼 때 3자리마다 , 를 찍어서 구분해 줍니다. 파이썬에서는 아래와 같이 쉽게 나타낼 수 있습니다.

```
# f"{숫자:,}" 
print(f"{1000:,}")
```

###하지만 이번 미션에서는 숫자를 입력 받고 3자리마다 ,를 찍어주는 함수를 만들어 봅시다.

###🔽출력 예시

```
make_comma(1000000)
1,000,000
```

### 🔥🔥🔥 Q1 정답 코드

In [ ]:
def make_comma(number):
  print(f"{number:,}")

In [ ]:
make_comma(20000000000)

20,000,000,000

###📌Q2. 어느날 여러분이 어떤 글을 읽고 있는데, 갑자기 특정 글자가 전체 글에서 몇개 들어있는지 궁금해졌습니다. 그럼 한 번 파이썬 함수로 만들어 봅시다.
<br/>

###글은 어떤 글이든 좋습니다. 인터넷에서 검색해서 복사 붙여넣기로 변수에 넣어 줍니다.
<br/>

###변수에 담긴 글을 함수에 넣어주면 txt 파일로 저장도 함께 되도록 해줍니다.
<br/>

###🔽출력 예시

```
a ="""안녕하세요. 
반갑습니다. 파이썬 공부는 정말 재밌습니다.
"""

count_word(a, "습니다")
2
```

### 시도 1

In [ ]:
import re

def count_word(sentences, word):
  sentences = re.split("[,|.|\"|\'| |\n]", sentences) # 쉼표(,) Or 마침표(.) or 큰따옴표(") or 작은 따옴표(')로 구분되어 리스트로 출력됨
  number_of_words = sentences.count(word) #word로 받은 값의 개수를 카운팅     #def 입력시 번거로움을 덜기 위해 문자로 인식시키는 큰따옴표를 식 안에 써줬음
  print(number_of_words)

'''
검색 키워드 : 
  파이썬 특정 단어 개수 세기, 파이썬 따옴표 출력, 파이썬 구분자 여러개, re split, 파이썬 구분자 큰 따옴표, 파이썬 구분자 줄바꿈


알아두면 좋은 자료
split()과 split("") 차이 : 
  https://somjang.tistory.com/entry/Python-%EB%AC%B8%EC%9E%90%EC%97%B4-split-%EA%B3%BC-split-%EC%B0%A8%EC%9D%B4-%EC%95%8C%EC%95%84%EB%B3%B4%EA%B8%B0


에러를 통해 깨달은 것
 -아래와 같은 방식으로 코드를 작성했었으나 word != "word"의 문제 발생
 number_of_words = sentences.count(word)  #def 입력시 번거로움을 덜기 위해 문자로 인식시키는 큰따옴표를 식 안에 써줬음
'''

'\n검색 키워드 : \n  파이썬 특정 단어 개수 세기, 파이썬 따옴표 출력, 파이썬 구분자 여러개, re split, 파이썬 구분자 큰 따옴표, 파이썬 구분자 줄바꿈\n\n\n알아두면 좋은 자료\nsplit()과 split("") 차이 : \n  https://somjang.tistory.com/entry/Python-%EB%AC%B8%EC%9E%90%EC%97%B4-split-%EA%B3%BC-split-%EC%B0%A8%EC%9D%B4-%EC%95%8C%EC%95%84%EB%B3%B4%EA%B8%B0\n\n\n에러를 통해 깨달은 것\n -아래와 같은 방식으로 코드를 작성했었으나 word != "word"의 문제 발생\n number_of_words = sentences.count(word)  #def 입력시 번거로움을 덜기 위해 문자로 인식시키는 큰따옴표를 식 안에 써줬음\n'

In [ ]:
# 아래코드는 "안녕하세요" 에 "하세요"를 카운팅하지 못함

sentences ='''
어제보다 더 ‘좋은 문장을 쓰고 싶은’ 당신을 위한,
알아두면 쓸모 있는 교열 전문기자의 우리말 맞춤법 이야기

누구나 작가가 될 수 있는 시대, 하루 종일 무언가를 읽고 쓰는 시대, 지금이야말로 ‘좋은’ 문장이 필요한 때다. 이 책은 조금 더 나은 문장을 쓰고 싶은 당신에게 전하는 우리말 맞춤법 이야기이다. 이 책을 쓴 교열기자 이진원은 2010년부터 11년째 부산일보 교열부 데스크(교열팀장, 교열부장)를 맡고 있고, 2003년부터 맞춤법 칼럼 ‘바른말 광’을 매주 연재하고 있다. 이번 책에서는 그간 연재한 칼럼 870여 편 중에서도 ‘좋은 문장’을 쓰는 방법에 주목하여 원고를 선별해 엮었다. 교열기자 일을 하며 만났던 문장들을 예시로 들며 일상에서 틀리기 쉬운 맞춤법을 설명한다. 많은 사람은 생각한다. ‘‘한글 맞춤법’은 왜 이렇게 복잡하고 어려운 걸까?’ 이에 『좋은 문장을 쓰고 싶다면』의 저자는 ‘한국말은 어렵다’는 생각은 ‘잘 모르기 때문에’ 생기는 선입견이라고 답한다. 원리를 깨친다면 높게만 느껴지는 맞춤법의 벽도 이전에 비해 편하게 넘을 수 있다며, 올바른 글쓰기의 세계로 독자들을 인도한다.
'''
count_word(sentences,"시대")

2

### 시도 2

In [ ]:
def count_word(sentences, word):
  word_counting = 0
  sentences = re.split("[,|.|\"|\'| |\n]", sentences) 
  if word in sentences:
    word_counting += 1

  print(word_counting)

In [ ]:
count_word(sentences,"시대")

1

### 시도 3 (디버깅 시작) 
문제를 너무 어렵게 풀려 했던 것이 문제였다. ;;

In [ ]:
sentences ='''
어제보다 더 ‘좋은 문장을 쓰고 싶은’ 당신을 위한,
알아두면 쓸모 있는 교열 전문기자의 우리말 맞춤법 이야기

누구나 작가가 될 수 있는 시대, 하루 종일 무언가를 읽고 쓰는 시대, 지금이야말로 ‘좋은’ 문장이 필요한 때다. 이 책은 조금 더 나은 문장을 쓰고 싶은 당신에게 전하는 우리말 맞춤법 이야기이다. 이 책을 쓴 교열기자 이진원은 2010년부터 11년째 부산일보 교열부 데스크(교열팀장, 교열부장)를 맡고 있고, 2003년부터 맞춤법 칼럼 ‘바른말 광’을 매주 연재하고 있다. 이번 책에서는 그간 연재한 칼럼 870여 편 중에서도 ‘좋은 문장’을 쓰는 방법에 주목하여 원고를 선별해 엮었다. 교열기자 일을 하며 만났던 문장들을 예시로 들며 일상에서 틀리기 쉬운 맞춤법을 설명한다. 많은 사람은 생각한다. ‘‘한글 맞춤법’은 왜 이렇게 복잡하고 어려운 걸까?’ 이에 『좋은 문장을 쓰고 싶다면』의 저자는 ‘한국말은 어렵다’는 생각은 ‘잘 모르기 때문에’ 생기는 선입견이라고 답한다. 원리를 깨친다면 높게만 느껴지는 맞춤법의 벽도 이전에 비해 편하게 넘을 수 있다며, 올바른 글쓰기의 세계로 독자들을 인도한다.
'''

sentences = re.split("[,|.|\"|\'| |\n]", sentences)
print(sentences)

['', '어제보다', '더', '‘좋은', '문장을', '쓰고', '싶은’', '당신을', '위한', '', '알아두면', '쓸모', '있는', '교열', '전문기자의', '우리말', '맞춤법', '이야기', '', '누구나', '작가가', '될', '수', '있는', '시대', '', '하루', '종일', '무언가를', '읽고', '쓰는', '시대', '', '지금이야말로', '‘좋은’', '문장이', '필요한', '때다', '', '이', '책은', '조금', '더', '나은', '문장을', '쓰고', '싶은', '당신에게', '전하는', '우리말', '맞춤법', '이야기이다', '', '이', '책을', '쓴', '교열기자', '이진원은', '2010년부터', '11년째', '부산일보', '교열부', '데스크(교열팀장', '', '교열부장)를', '맡고', '있고', '', '2003년부터', '맞춤법', '칼럼', '‘바른말', '광’을', '매주', '연재하고', '있다', '', '이번', '책에서는', '그간', '연재한', '칼럼', '870여', '편', '중에서도', '‘좋은', '문장’을', '쓰는', '방법에', '주목하여', '원고를', '선별해', '엮었다', '', '교열기자', '일을', '하며', '만났던', '문장들을', '예시로', '들며', '일상에서', '틀리기', '쉬운', '맞춤법을', '설명한다', '', '많은', '사람은', '생각한다', '', '‘‘한글', '맞춤법’은', '왜', '이렇게', '복잡하고', '어려운', '걸까?’', '이에', '『좋은', '문장을', '쓰고', '싶다면』의', '저자는', '‘한국말은', '어렵다’는', '생각은', '‘잘', '모르기', '때문에’', '생기는', '선입견이라고', '답한다', '', '원리를', '깨친다면', '높게만', '느껴지는', '맞춤법의', '벽도', '이전에', '비해', '편하게', '넘을', '수', '있다며', '', '올바른', '글쓰기의', '세계로', '독자들을', '인도한다', '', '']

In [ ]:
def count_word(sentences, word):
  word_counting = sentences.count(word)

  print(word_counting)

In [ ]:
sentences ='''
어제보다 더 ‘좋은 문장을 쓰고 싶은’ 당신을 위한,
알아두면 쓸모 있는 교열 전문기자의 우리말 맞춤법 이야기

누구나 작가가 될 수 있는 시대, 하루 종일 무언가를 읽고 쓰는 시대, 지금이야말로 ‘좋은’ 문장이 필요한 때다. 이 책은 조금 더 나은 문장을 쓰고 싶은 당신에게 전하는 우리말 맞춤법 이야기이다. 이 책을 쓴 교열기자 이진원은 2010년부터 11년째 부산일보 교열부 데스크(교열팀장, 교열부장)를 맡고 있고, 2003년부터 맞춤법 칼럼 ‘바른말 광’을 매주 연재하고 있다. 이번 책에서는 그간 연재한 칼럼 870여 편 중에서도 ‘좋은 문장’을 쓰는 방법에 주목하여 원고를 선별해 엮었다. 교열기자 일을 하며 만났던 문장들을 예시로 들며 일상에서 틀리기 쉬운 맞춤법을 설명한다. 많은 사람은 생각한다. ‘‘한글 맞춤법’은 왜 이렇게 복잡하고 어려운 걸까?’ 이에 『좋은 문장을 쓰고 싶다면』의 저자는 ‘한국말은 어렵다’는 생각은 ‘잘 모르기 때문에’ 생기는 선입견이라고 답한다. 원리를 깨친다면 높게만 느껴지는 맞춤법의 벽도 이전에 비해 편하게 넘을 수 있다며, 올바른 글쓰기의 세계로 독자들을 인도한다.
'''

count_word(sentences,"한다")

4

### 🔥🔥🔥 Q2 정답 코드

In [ ]:
def count_word(sentences, word):
  word_counting = sentences.count(word)

  print(word_counting)

#----------------------------------------------

sentences ='''
어제보다 더 ‘좋은 문장을 쓰고 싶은’ 당신을 위한,
알아두면 쓸모 있는 교열 전문기자의 우리말 맞춤법 이야기

누구나 작가가 될 수 있는 시대, 하루 종일 무언가를 읽고 쓰는 시대, 지금이야말로 ‘좋은’ 문장이 필요한 때다. 이 책은 조금 더 나은 문장을 쓰고 싶은 당신에게 전하는 우리말 맞춤법 이야기이다. 이 책을 쓴 교열기자 이진원은 2010년부터 11년째 부산일보 교열부 데스크(교열팀장, 교열부장)를 맡고 있고, 2003년부터 맞춤법 칼럼 ‘바른말 광’을 매주 연재하고 있다. 이번 책에서는 그간 연재한 칼럼 870여 편 중에서도 ‘좋은 문장’을 쓰는 방법에 주목하여 원고를 선별해 엮었다. 교열기자 일을 하며 만났던 문장들을 예시로 들며 일상에서 틀리기 쉬운 맞춤법을 설명한다. 많은 사람은 생각한다. ‘‘한글 맞춤법’은 왜 이렇게 복잡하고 어려운 걸까?’ 이에 『좋은 문장을 쓰고 싶다면』의 저자는 ‘한국말은 어렵다’는 생각은 ‘잘 모르기 때문에’ 생기는 선입견이라고 답한다. 원리를 깨친다면 높게만 느껴지는 맞춤법의 벽도 이전에 비해 편하게 넘을 수 있다며, 올바른 글쓰기의 세계로 독자들을 인도한다.
'''

count_word(sentences,"한다")

4

### 📌Q3. 요즘 식당에 들어가면 방명록을 적게 되어있습니다.
<br/>

### 어느 식당의 사장님이 여러분에게 방명록을 주면서 전화번호를 제대로 적었는지 검사해달라는 부탁을 했습니다.
<br/>

###아래와 같은 방명록이 있을 때 방명록을 잘 못쓴 사람의 이름과 잘 못된 번호를 출력하는 함수를 만들어 봅시다.
<br/>

김갑,123456789 <br/>
이을,010-1234-5678 <br/>
박병,010-5678-111 <br/>
최정,111-1111-1111 <br/>
정무,010-3333-3333 <br/>
<br/>

- 함수에 방명록을 넣으면 txt 파일로 저장되게 해줍니다.
- 제대로 적은 방명록의 조건은 다음과 같습니다
  - 010 으로 시작함
  - 번호가 - 로 구분이 되어 있음
  - -를 포함하여 길이가 13임
<br/><br/>

### 🔽출력 예시

```
guest_book = """김갑,123456789
이을,010-1234-5678
박병,010-5678-111
최정,111-1111-1111
정무,010-3333-3333"""
wrong_guest_book(guest_book)

잘못 쓴 사람: 김갑
잘못 쓴 번호: 123456789

잘못 쓴 사람: 박병
잘못 쓴 번호: 010-5678-111

잘못 쓴 사람: 최정
잘못 쓴 번호: 111-1111-1111
```

### 시도1

In [ ]:
import pandas as pd

guest_book = """김갑,123456789
이을,010-1234-5678
박병,010-5678-111
최정,111-1111-1111
정무,010-3333-3333"""

guest_book = re.split("[,|\n]", guest_book)
even_number = guest_book[0::2] #짝수번대 리스트
odd_number = guest_book[1::2] #짝수번대 리스트

df = pd.DataFrame((zip(even_number, odd_number)), columns = ['Name', 'Number'])

for x in df.Number:
  if x[0:3] != "010" or x.count("-") != 2 or len(x) != 13:
    n1 = "\n"
    print(f"잘못 쓴 사람 : {n1}잘못 쓴 번호 : {x}{n1}")




'''
검색 키워드 : 
  파이썬 리스트 데이터 프레임 변환, 짝수번 리스트


알아두면 좋은 자료
짝수번 리스트 불러오는 방법 : 
  https://lovelydiary.tistory.com/36

파이썬 리스트 데이터 프레임 변환 방법 :
  https://www.delftstack.com/ko/howto/python/list-to-dataframe-python/

에러를 통해 깨달은 것
 -
'''

잘못 쓴 사람 :
잘못 쓴 번호 : 123456789

잘못 쓴 사람 :
잘못 쓴 번호 : 010-5678-111

잘못 쓴 사람 :
잘못 쓴 번호 : 111-1111-1111

'\n검색 키워드 : \n  파이썬 리스트 데이터 프레임 변환, 짝수번 리스트\n\n\n알아두면 좋은 자료\n짝수번 리스트 불러오는 방법 : \n  https://lovelydiary.tistory.com/36\n\n파이썬 리스트 데이터 프레임 변환 방법 :\n  https://www.delftstack.com/ko/howto/python/list-to-dataframe-python/\n\n에러를 통해 깨달은 것\n -\n'

In [ ]:
### 잘못된 코드
for x in df.Number:
  if x[0:3] != "010" or x.count("-") != 2 or len(x) != 13:
    n1 = "\n"
    for y in df.Name:
      if x.index == y.index:
        print(f"잘못 쓴 사람 : {y}{n1}잘못 쓴 번호 : {x}{n1}")

### 시도2

In [ ]:
### 잘못된 코드
'''
for x in df.Number:
  n1 = "\n"
  x_index : enumerate(x)
  for y in df.Name:
    y_index : enumerate(y)
    if x_index[0] == y_index[0]: 
      if x[0:3] != "010" or x.count("-") != 2 or len(x) != 13:
        print(f"잘못 쓴 사람 : {y}{n1}잘못 쓴 번호 : {x}{n1}")
'''

'\nfor x in df.Number:\n  n1 = "\n"\n  x_index : enumerate(x)\n  for y in df.Name:\n    y_index : enumerate(y)\n    if x_index[0] == y_index[0]: \n      if x[0:3] != "010" or x.count("-") != 2 or len(x) != 13:\n        print(f"잘못 쓴 사람 : {y}{n1}잘못 쓴 번호 : {x}{n1}")\n'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Number  5 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes

### 시도3 (디버깅 시작)

In [ ]:
import pandas as pd

guest_book = """김갑,123456789
이을,010-1234-5678
박병,010-5678-111
최정,111-1111-1111
정무,010-3333-3333"""

guest_book = re.split("\n", guest_book)


'''
검색 키워드 : 
  파이썬 리스트 데이터 프레임 변환, 짝수번 리스트


알아두면 좋은 자료
짝수번 리스트 불러오는 방법 : 
  https://lovelydiary.tistory.com/36

파이썬 리스트 데이터 프레임 변환 방법 :
  https://www.delftstack.com/ko/howto/python/list-to-dataframe-python/
'''

for x in guest_book:
  name = x[0:2]
  number = x[3:]
  if number != "010" or number.count("-") != 2 or len(number) != 13:
    n1 = "\n"
    print(f"잘못 쓴 사람 : {name}{n1}잘못 쓴 번호 : {number}{n1}")

잘못 쓴 사람 : 김갑
잘못 쓴 번호 : 123456789

잘못 쓴 사람 : 이을
잘못 쓴 번호 : 010-1234-5678

잘못 쓴 사람 : 박병
잘못 쓴 번호 : 010-5678-111

잘못 쓴 사람 : 최정
잘못 쓴 번호 : 111-1111-1111

잘못 쓴 사람 : 정무
잘못 쓴 번호 : 010-3333-3333

In [ ]:
for x in guest_book:
  name = x[0:2]
  number = x[3:]
  print(name)

김갑
이을
박병
최정
정무

### 🔥🔥🔥 Q3 정답 코드

In [3]:
import re

guest_book = """김갑,123456789
이을,010-1234-5678
박병,010-5678-111
최정,111-1111-1111
정무,010-3333-3333"""

def wrong_guest_book(guest_book) :
  guest_book = re.split("\n", guest_book)
  for x in guest_book:
    if x[3:6] != "010" or x[3:].count("-") != 2 or len(x[3:]) != 13:
      n1 = "\n"
      print(f"잘못 쓴 사람 : {x[0:2]}{n1}잘못 쓴 번호 : {x[3:]}{n1}")


wrong_guest_book(guest_book)

잘못 쓴 사람 : 김갑
잘못 쓴 번호 : 123456789

잘못 쓴 사람 : 박병
잘못 쓴 번호 : 010-5678-111

잘못 쓴 사람 : 최정
잘못 쓴 번호 : 111-1111-1111

### 📌Q4.  주민등록번호의 앞 6자리는 생년월일이고 뒷자리의 시작번호는 성별을 나타냅니다. 주민등록번호를 입력하면 몇년 몇월 생인지 그리고 남자인지 여자인지 출력하는 함수를 만들어 봅시다.
<br/>

- 주민등록번호는 6자리 이후에 -로 구분되어야 하고 길이는 -포함 14임
- 뒷자리는 1,3 은 남자 2,4는 여자
- 00 ~ 21로 시작할 경우 2000년 이후 출생자인지 물어 볼 것 (맞으면 o 틀리면 x)
- 뒷자리 3, 4를 가질 수 있는 사람은 00년생 이후 출생자 밖에 없음
<br/><br/>

### 주민등록번호 조건을 만족하지 않는 수가 입력되면 "잘 못된 번호입니다"를 출력해주세요.
<br/>

###🔽출력 예시

```
a = "500629-2222222"
check_id(a)
50년06월 여자

a = "000629-2222222"
check_id(a)
2000년 이후 출생자 입니까? 맞으면 o 아니면 x : o
잘못된 번호입니다.
올바른 번호를 넣어주세요

a = "000629-2222222"
check_id(a)
2000년 이후 출생자 입니까? 맞으면 o 아니면 x : x
00년06월 여자
```

### 시도1

In [15]:
import re
# 980322-2150916
# 0123456789 ~13

def check_id(id) :
  if id[6] == "-" and id[0:7].count("-") ==1 and len(id) == 14: # (주민번호 정상 여부 확인) 6번째에 "-"을 포함하고, "-"는 한번만 쓰였으며, 길이가 14자인 번호 
      n1 = "\n"
      if id[7] == "1" or id[7] == "3" :    # (주민번호 남/녀 확인) 정상인 주민번호 중 남자인 경우 | 주민번호가 string 타입인 것 주의
        print(f"{id[0:2]}년생 {id[2:4]}월 남자{n1}")
      elif id[7] == "2" or id[7] == "4" :   # (주민번호 남/녀 확인) 정상인 주민번호 중 여자인 경우 | 주민번호가 string 타입인 것 주의
        print(f"{id[0:2]}년생 {id[2:4]}월 여자{n1}")


check_id("980322-2150916")

98년생 03월 여자

### 시도2 (디버깅하면서 진행)

In [53]:
#- 주민등록번호는 6자리 이후에 -로 구분되어야 하고 길이는 -포함 14임
#- 뒷자리는 1,3 은 남자 2,4는 여자
#- 00 ~ 21로 시작할 경우 2000년 이후 출생자인지 물어 볼 것 (맞으면 o 틀리면 x)
#- 뒷자리 3, 4를 가질 수 있는 사람은 00년생 이후 출생자 밖에 없음
#<br/><br/>

### 주민등록번호 조건을 만족하지 않는 수가 입력되면 "잘 못된 번호입니다"를 출력해주세요.

import re

def check_id(id) :
  if id[6] == "-" and id[0:7].count("-") ==1 and len(id) == 14: # (주민번호 정상 여부 확인) 6번째에 "-"을 포함하고, "-"는 한번만 쓰였으며, 길이가 14자인 번호 

      n1 = "\n"
      if id[7] == "1" :    # (주민번호 남/녀 확인) 정상인 주민번호 중 남자인 경우 | 주민번호가 string 타입인 것 주의
        print(f"{id[0:2]}년생 {id[2:4]}월 남자{n1}")
        
      elif id[7] == "2" :   # (주민번호 남/녀 확인) 정상인 주민번호 중 여자인 경우 | 주민번호가 string 타입인 것 주의
        print(f"{id[0:2]}년생 {id[2:4]}월 여자{n1}") 
        

      if int(id[0:2]) >= 0 and int(id[0:2]) < 22:    # 00~21 범위 지정을 위해 int 로 변환     #여기 잘 모르겠음

        young = input("2000년 이후 출생자 입니까? 맞으면 o 아니면 x :")

        if young == "o" and id[7] == "3" :
          print(f"{id[0:2]}년생 {id[2:4]}월 남자{n1}")   # (주민번호 남/녀 확인) 정상인 주민번호 중 남자인 경우 | 주민번호가 string 타입인 것 주의

        elif young == "o" and id[7] != "3" :
          print(f"잘못된 번호입니다.{n1}올바른 번호를 넣어주세요.")   # (주민번호 남/녀 확인) 정상인 주민번호 중 남자인 경우 | 주민번호가 string 타입인 것 주의  
            
        elif young == "o" and id[7] == "4" :   # (주민번호 남/녀 확인) 정상인 주민번호 중 여자인 경우 | 주민번호가 string 타입인 것 주의
          print(f"{id[0:2]}년생 {id[2:4]}월 여자{n1}")

        elif young == "o" and id[7] != "4" :   # (주민번호 남/녀 확인) 정상인 주민번호 중 여자인 경우 | 주민번호가 string 타입인 것 주의
          print(f"잘못된 번호입니다.{n1}올바른 번호를 넣어주세요.")

        elif young == "x":
          print(f"잘못된 번호입니다.{n1}올바른 번호를 넣어주세요.")

  else :
    print(f"잘못된 번호입니다.{n1}올바른 번호를 넣어주세요.")

In [ ]:
'''
a = "500629-2222222"
check_id(a)
50년06월 여자

a = "000629-2222222"
check_id(a)
2000년 이후 출생자 입니까? 맞으면 o 아니면 x : o
잘못된 번호입니다.
올바른 번호를 넣어주세요

a = "000629-2222222"
check_id(a)
2000년 이후 출생자 입니까? 맞으면 o 아니면 x : x
00년06월 여자
'''

In [14]:
id = "980322-2150916"
id[7]

'2'

In [30]:
list = []
for i in range(0,22):
  list.append(i)
list = str(list)
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [31]:
type(list)

str

### 🔥🔥🔥 Q4 정답 코드

In [87]:
# 주민등록번호는 6자리 이후에 -로 구분되어야 하고 길이는 -포함 14임
# 뒷자리는 1,3 은 남자 2,4는 여자
# 00 ~ 21로 시작할 경우 2000년 이후 출생자인지 물어 볼 것 (맞으면 o 틀리면 x)
# 뒷자리 3, 4를 가질 수 있는 사람은 00년생 이후 출생자 밖에 없음

###주민등록번호 조건을 만족하지 않는 수가 입력되면 "잘못된 번호입니다"를 출력해주세요.
#----------------------------------------------------------------------------------------------

# 주민번호가 string 타입인 것 주의
'''#여기서 if 문이 왜 돌아가는지 헷갈렸음 <- 이 문구 확인''' 

def check_id(id) :
  if id[6] == "-" and id[0:7].count("-") ==1 and len(id) == 14:                         
  # (주민번호 정상 여부 확인) 6번째에 "-"을 포함하고, "-"는 한번만 쓰였으며, 길이가 14자인 번호 

      n1 = "\n"

      if int(id[0:2]) >=22 and int(id[0:2]) <= 99:
        if id[7] == "1" :                                                                 
          print(f"{id[0:2]}년생 {id[2:4]}월 남자{n1}")
          # 00년생 이전 연생이면서 남자인 경우
        
        elif id[7] == "2" :   
          print(f"{id[0:2]}년생 {id[2:4]}월 여자{n1}") 
          # 00년생 이전 연생이면서 여자인 경우

        elif id[7] != "1" or id[7] != "2":    
          print(f"잘못된 번호입니다.{n1}올바른 번호를 넣어주세요.")
          # 00년생 이전 연생인데, 성별 구분이 틀린 경우(성별 구분이 1,2가 아닌 경우)

      if int(id[0:2]) >= 0 and int(id[0:2]) < 22:    
        # 00~21 범위 지정을 위해 int 로 변환      
        '''#여기서 if 문이 왜 돌아가는지 헷갈렸음'''
        # 00년생~21년생인 경우

        young = input("2000년 이후 출생자 입니까? 맞으면 o 아니면 x :")
        # input값 받기

        if young == "o" and id[7] == "3" :
          print(f"{id[0:2]}년생 {id[2:4]}월 남자{n1}")  
          # 00년생~21년생이면서, 질문에 맞게 대답하고, 성별 구분이 3인 경우

        elif young == "o" and id[7] == "4" :   
          print(f"{id[0:2]}년생 {id[2:4]}월 여자{n1}")
          # 00년생~21년생이면서, 질문에 맞게 대답하고, 성별 구분이 4인 경우

        elif young == "o" and id[7] != "3" or id[7] != "4":
          print(f"잘못된 번호입니다.{n1}올바른 번호를 넣어주세요.")   
          # 00년생~21년생이면서, 질문에 맞게 대답했지만, 성별 구분이 3,4가 아닌 경우 

        elif young == "x":
          print(f"잘못된 번호입니다.{n1}올바른 번호를 넣어주세요.")
          # 00년생~21년생이지만, 질문에 틀리게 대답한 경우

  else :
    print(f"잘못된 번호입니다.{n1}올바른 번호를 넣어주세요.")
    # 주민번호가 정상적으로 입력되지 않은 경우
    # 주민번호 정상 조건 : 6번째에 "-"을 포함하고, "-"는 한번만 쓰였으며, 길이가 14자인 번호

In [88]:
'''
a = "500629-2222222"
check_id(a)
50년06월 여자

a = "000629-2222222"
check_id(a)
2000년 이후 출생자 입니까? 맞으면 o 아니면 x : o
잘못된 번호입니다.
올바른 번호를 넣어주세요

a = "000629-2222222"
check_id(a)
2000년 이후 출생자 입니까? 맞으면 o 아니면 x : x
00년06월 여자
'''

'\na = "500629-2222222"\ncheck_id(a)\n50년06월 여자\n\na = "000629-2222222"\ncheck_id(a)\n2000년 이후 출생자 입니까? 맞으면 o 아니면 x : o\n잘못된 번호입니다.\n올바른 번호를 넣어주세요\n\na = "000629-2222222"\ncheck_id(a)\n2000년 이후 출생자 입니까? 맞으면 o 아니면 x : x\n00년06월 여자\n'

In [91]:
# 00~21년이 아니면서 성별구분으로 1,2를 쓴 경우
# 성별 구분 : 1
# 결과: 정상 출력
'''
# 00~21년생 성별 구분 [3 : 남자, 4 : 여자]
# 00년 이전 성별 구분 [1 : 남자, 2 : 여자]
'''

a = "500629-1222222"
check_id(a)

50년생 06월 남자

In [92]:
# 00~21년이 아니면서 성별구분으로 1,2를 쓴 경우
# 성별 구분 : 2
# 결과: 정상 출력
'''
# 00~21년생 성별 구분 [3 : 남자, 4 : 여자]
# 00년 이전 성별 구분 [1 : 남자, 2 : 여자]
'''

a = "500629-2222222"
check_id(a)

50년생 06월 여자

In [93]:
# 00~21년이 아닌데 성별구분으로 3,4를 쓴 경우
# 성별 구분 : 3
# 결과 : 잘못된 번호 메시지 출력
'''
# 00~21년생 성별 구분 [3 : 남자, 4 : 여자]
# 00년 이전 성별 구분 [1 : 남자, 2 : 여자]
'''

a = "500629-3222222"
check_id(a)

잘못된 번호입니다.
올바른 번호를 넣어주세요.

In [94]:
# 00~21년이 아닌데 성별구분으로 3,4를 쓴 경우
# 성별 구분 : 4
# 결과 : 잘못된 번호 메시지 출력
'''
# 00~21년생 성별 구분 [3 : 남자, 4 : 여자]
# 00년 이전 성별 구분 [1 : 남자, 2 : 여자]
'''

a = "500629-4222222"
check_id(a)

잘못된 번호입니다.
올바른 번호를 넣어주세요.

In [95]:
# 2000년 이후 출생자 입니까? 맞으면 o 아니면 x :o  <- o 로 대답
# 00~21년생이면서 성별구분으로 성별구분으로 3,4를 쓴 경우
# 결과: 정상 출력
'''
# 00~21년생 성별 구분 [3 : 남자, 4 : 여자]
# 00년 이전 성별 구분 [1 : 남자, 2 : 여자]
'''

a = "000629-3222222" 
check_id(a)

2000년 이후 출생자 입니까? 맞으면 o 아니면 x :o
00년생 06월 남자

In [96]:
# 2000년 이후 출생자 입니까? 맞으면 o 아니면 x :o  <- o 로 대답
# 00~21년생이면서 성별구분으로 성별구분으로 3,4를 쓴 경우
# 결과: 정상 출력
'''
# 00~21년생 성별 구분 [3 : 남자, 4 : 여자]
# 00년 이전 성별 구분 [1 : 남자, 2 : 여자]
'''

a = "000629-4222222" 
check_id(a)

2000년 이후 출생자 입니까? 맞으면 o 아니면 x :o
00년생 06월 여자

In [97]:
# 2000년 이후 출생자 입니까? 맞으면 o 아니면 x :x  <- x 로 대답
# 00~21년생이면서 성별구분으로 성별구분으로 3,4를 썼지만 질문에 잘못 대답한 경우
# 결과 : 잘못된 번호 메시지 출력
'''
# 00~21년생 성별 구분 [3 : 남자, 4 : 여자]
# 00년 이전 성별 구분 [1 : 남자, 2 : 여자]
'''

a = "000629-3222222" 
check_id(a)

2000년 이후 출생자 입니까? 맞으면 o 아니면 x :x
잘못된 번호입니다.
올바른 번호를 넣어주세요.

In [98]:
# 2000년 이후 출생자 입니까? 맞으면 o 아니면 x :x  <- x 로 대답
# 00~21년생이면서 성별구분으로 성별구분으로 3,4를 썼지만 질문에 잘못 대답한 경우
# 결과 : 잘못된 번호 메시지 출력
'''
# 00~21년생 성별 구분 [3 : 남자, 4 : 여자]
# 00년 이전 성별 구분 [1 : 남자, 2 : 여자]
'''

a = "000629-4222222" 
check_id(a)

2000년 이후 출생자 입니까? 맞으면 o 아니면 x :x
잘못된 번호입니다.
올바른 번호를 넣어주세요.

In [99]:
# 2000년 이후 출생자 입니까? 맞으면 o 아니면 x :o  <- o 로 대답
# 00~21년생이면서 성별구분으로 성별구분으로 1,2를 쓴 경우
# 성별 구분 : 1
# 결과 : 잘못된 번호 메시지 출력
'''
# 00~21년생 성별 구분 [3 : 남자, 4 : 여자]
# 00년 이전 성별 구분 [1 : 남자, 2 : 여자]
'''

a = "000629-1222222" 
check_id(a)

2000년 이후 출생자 입니까? 맞으면 o 아니면 x :o
잘못된 번호입니다.
올바른 번호를 넣어주세요.

In [100]:
# 2000년 이후 출생자 입니까? 맞으면 o 아니면 x :o  <- o 로 대답
# 00~21년생이면서 성별구분으로 성별구분으로 1,2를 쓴 경우
# 성별 구분 : 2
# 결과 : 잘못된 번호 메시지 출력
'''
# 00~21년생 성별 구분 [3 : 남자, 4 : 여자]
# 00년 이전 성별 구분 [1 : 남자, 2 : 여자]
'''

a = "000629-2222222"
check_id(a)

2000년 이후 출생자 입니까? 맞으면 o 아니면 x :o
잘못된 번호입니다.
올바른 번호를 넣어주세요.